body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #1E1E1E;
}

.post-container {
    max-width: 1120px;
    margin: 0 auto;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 200;
}

p {
    font-size: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 10px;
}

.card__logo {
    max-width: 60px;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card__header_title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.card__post_btn {
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: #1D9BF0;
    padding: 8px 22px;
    border-radius: 100px;
}